{% extends 'base.html' %}
{% block content %}
<div class="row" id="infoBox">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 text-center">
        <h1>Add a Match</h1>
        <form action="POST">
            <label for="fname">First name: </label>
            <input type="text" id="fname" value="forename"><br>
            <label for="sname">Surname: </label>
            <input type="text" id="sname" value="surname">
            <p>Did this user win? <input type="checkbox" value="userWon"></p>
            <input type="submit" value="Save and return">
            <input type="submit" value="Save and continue">
        </form>
	</div>
	<div class="col-sm-2"></div>
</div>
{% endblock %}