{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link  href="{% static 'css/addmatch.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/addmatch.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.3.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            $('#playerFormsetContainer div').formset({
                addText: "",
                deleteText: ""
            });
        })
    </script>
</head>

<div class="row" id="infoBox">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 text-center">
        <h1>Add a Match</h1>
        <form id="playerFormsetContainer" method="post" action="">
            {% csrf_token %}
            {{ matchForm.datePlayed }}
            {{ playerFormset.management_form }}
            {% for form in playerFormset %}
            <div id="{{ form.prefix }}-row">
                {{ form.name.label_tag }}
                {{ form.name }}
                <br />
                {{ form.score.label_tag }}
                {{ form.score }}
                <br />
            </div>
            {% endfor %}
            {{ matchForm.comments }}
            <br />
            {{ error }}
            <br />
            <input type="submit"/>
        </form>
    </div>
</div>
	<div class="col-sm-2"></div>
</div>
{% endblock %}