{% extends 'base.html' %}
{% block content %}
<div class="row" id="infoBox">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
        <h1>Welcome to Scrabbler!</h1>
        {% if data %}
        <div id="data">
            <h2>Our Top Scorers</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Average Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in users %}
                    <tr>
                        <td><a href="profile/{{ person.0.pk }}">{{ person.0.forename }} {{ person.0.surname }}</a></td>
                        <td>{{ person.1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Highest Score</h2>
            <p>
                The highest score is currently {{ bestMatch.0 }},
                scored by {{ bestMatch.1.forename }} {{ bestMatch.1.surname }} on {{ bestMatch.3 }}.
            </p>
            <h2>Lowest Score</h2>
            <p>
                The lowest score is currently {{ worstMatch.0 }},
                scored by {{ worstMatch.1.forename }} {{ worstMatch.1.surname }} on {{ worstMatch.3 }}.
            </p>
        </div>
        {% else %}
        <div>
            <h3>There are currently no matches in the system! Head to <a href="/addmatch"> Add a Match</a> to get started!</h3>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}