#add-player {
    background-color:green;
    border: none;
    padding: 0;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    float: left;
    margin-left: 25%;
}

#add-player-icon {
    width: 32px;
    height: 32px;
}

.col-md-3 {
    padding: 5px;
}

label {
    display: inline-block;
    text-align: right;
    width: 150px;
}

#snameField {
    text-align: left;
    width: auto;
}

#scoreField {
    float: right;
}

.dynamic-form {
    position: relative;
    margin-bottom: 40px;
}

.add-row {
    padding: 6px 12px;
    background:url(../img/plusIcon.png) no-repeat;
    background-size: 24px;
    outline: 2px solid gray;
}

.delete-row {
    position:absolute;
    top: 0;
    left: 100%;
    padding: 12px 12px;
    background:url(../img/minusIcon.png) no-repeat;
    background-size: 24px;
}